/bradbury.aux
/bradbury.bbl
/bradbury.blg
/bradbury.log
/bradburyNotes.bib
/bradbury_capa.aux
/bradbury_capa.bbl
/bradbury_capa.blg
/bradbury_capa.log
/bradbury_capa.synctex.gz
*.sh~
*.epub
*.cbz
*.synctex.gz
/ssS1678-31662006000300003.bib
*.sh
